[mysqld]
open_files_limit = 8192
transaction-isolation = READ-COMMITTED
max_connections = 1000
table_cache=1536
max_allowed_packet=512M
sort_buffer_size=256K
thread_cache_size=64
thread_concurrency=4
query_cache_size=12M
query_cache_type=0
join_buffer_size=256K
default-storage-engine=innodb
wait_timeout=259200
tmp_table_size=100M
max_heap_table_size=512M
innodb_buffer_pool_size=5G
innodb_additional_mem_pool_size=20M
innodb_log_buffer_size=16M
innodb_flush_log_at_trx_commit=2
innodb_lock_wait_timeout=300
innodb_max_dirty_pages_pct=90
innodb_log_file_size=256M
innodb_thread_concurrency=4
innodb_file_per_table=1
character-set-server=latin1
collation-server=latin1_swedish_ci

#Logging
log-bin=mysql-bin
general-log=1
binlog_format=mixed
general-log-file = "/var/tmp/mysql_general.log"
expire_logs_days = 5

#Added on 12.06.2014
tmpdir=/var/tmp
