[mysqld]
open_files_limit = 8192
transaction-isolation = READ-COMMITTED
max_connections = 1000
max_allowed_packet=512M
sort_buffer_size=256K
thread_cache_size=64
query_cache_size=12M
query_cache_type=1
join_buffer_size=256K
default-storage-engine=innodb
wait_timeout=259200
tmp_table_size=100M
max_heap_table_size=128M
innodb_buffer_pool_size=2G
innodb_buffer_pool_instances=12
innodb_log_buffer_size=16M
innodb_flush_log_at_trx_commit=2
innodb_lock_wait_timeout=300
innodb_max_dirty_pages_pct=90
innodb_log_file_size=256M
character-set-server=utf8
collation-server=utf8_bin
